h1{
    margin: .67em 0;
    font-size: 2em
}
.body{
		margin:0px:
		background-color:#f8edb1;
	}
.header {
		height:60px;
		width:100%;
		margin:0px auto;
		left:0px;
		position:fixed;
		top:0px;
		}




